In [1]:
import numpy as np
import pandas as pd

In [2]:
def sigma_sample(x, x_avr, n):
    return np.sqrt(sum((x - x_avr)**2) / (n - 1))

***1. Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): 
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy. Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.***

In [3]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

##### Рассчитываем коэффициент корриляции Пирсона

In [4]:
cov = ((zp - zp.mean()) * (ks - ks.mean())).sum()/(len(zp * ks) - 1)
cov

10175.37777777778

In [5]:
sigma_zp = sigma_sample(zp, zp.mean(), len(zp))
sigma_ks = sigma_sample(ks, ks.mean(), len(ks))
sigma_zp, sigma_ks

(62.31318747531162, 183.99544076477068)

In [6]:
r = cov/(sigma_zp * sigma_ks)
r

0.8874900920739164

##### Рассчитываем коэффициент корриляции Пирсона с помощью библиотеки NumPy

In [7]:
cov = np.cov(zp, ks)
cov

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [8]:
r = np.corrcoef(zp, ks)
r

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [9]:
zp = np.array([[35, 45, 190, 200, 40, 70, 54, 150, 120, 110]])
ks = np.array([[401, 574, 874, 919, 459, 739, 653, 902, 746, 832]])
df = pd.DataFrame(np.concatenate((zp, ks), axis=0).T, columns=['zp', 'ks'])
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [10]:
r_pd = df.loc[:, ['zp', 'ks']].corr()
r_pd

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

***2. Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.***

In [11]:
data = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
a = 0.05

In [12]:
z_half_alpha = 1.96
sigma = sigma_sample(data, data.mean(), len(data))
sigma

10.54566788359614

In [13]:
a = data.mean() - z_half_alpha * sigma / np.sqrt(len(data))
b = data.mean() + z_half_alpha * sigma / np.sqrt(len(data))
a, b

(111.56372732786916, 124.63627267213083)

***3. Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.***

In [14]:
D = 25
n = 27
mu = 174.2
a = 0.05

In [15]:
z_half_alpha = 1.96

In [16]:
a = mu - z_half_alpha * np.sqrt(D) / np.sqrt(n)
b = mu + z_half_alpha * np.sqrt(D) / np.sqrt(n)
a, b

(172.31398912064722, 176.08601087935276)